site_name: EUDI Wallet Dev Hub
site_url: https://eu-digital-identity-wallet.github.io/
remote_branch: devhub
theme:
  name: material
  font:
    text: Roboto
  logo: assets/normal-reproduction-low-resolution.jpg
  favicon: assets/normal-reproduction-low-resolution.jpg
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

  features:
    - search.highlight
    - search.suggest
    - navigation.expand
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.footer
    - navigation.instant
    - navigation.indexes

extra_css:
  - css/extra.css

markdown_extensions:
  - footnotes
  - tables
  - abbr
  - admonition
  - def_list
  - attr_list
  - md_in_html
  - pymdownx.arithmatex
  - pymdownx.b64
  - pymdownx.betterem
  - pymdownx.blocks.admonition
  - pymdownx.blocks.definition
  - pymdownx.blocks.details
  - pymdownx.blocks.html
  - pymdownx.blocks.tab
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji
  - pymdownx.escapeall
  - pymdownx.extra
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.pathconverter
  - pymdownx.progressbar
  - pymdownx.saneheaders
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - pymdownx.striphtml
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra:
  generator: false
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
    
plugins:
  - search
  - mkdocs-breadcrumbs-plugin:
      delimiter: " / "  # separator between sections
      log_level: "WARNING"  # "DEBUG", "INFO", "WARNING", "ERROR", "CRITICAL"
      exclude_paths:
        - "docs/mkdocs/**"
        - "docs/mkdocs"
        - "docs"
      additional_index_folders:
        - temp_dir
      generate_home_index: false
      use_page_titles: true
      home_text: "Home"
  - multirepo:
      cleanup: true
      keep_docs_dir: false
      nav_repos:
        - name: eudi-doc-architecture-and-reference-framework
          import_url: 'https://github.com/eu-digital-identity-wallet/eudi-doc-architecture-and-reference-framework?multi_docs=True&branch=main'
          imports:
            - '**/*.md'
            - '**/*.png'
        - name: eudi-web-booking-service-demo
          import_url: 'https://github.com/eu-digital-identity-wallet/eudi-web-booking-service-demo?multi_docs=True&branch=main'
          imports:
            - '**/*.md'
            - '**/*.png'
        - name: eudi-lib-android-wallet-core
          import_url: 'https://github.com/eu-digital-identity-wallet/eudi-lib-android-wallet-core?multi_docs=True&branch=main'
          imports:
            - '**/*.md'
            - '**/*.png'
        - name: eudi-app-android-wallet-ui
          import_url: 'https://github.com/eu-digital-identity-wallet/eudi-app-android-wallet-ui?multi_docs=True&branch=main'
          imports:
            - '**/*.md'
            - '**/*.png'
        - name: eudi-lib-ios-wallet-kit
          import_url: 'https://github.com/eu-digital-identity-wallet/eudi-lib-ios-wallet-kit?multi_docs=True&branch=main'
          imports:
            - '**/*.md'
            - '**/*.png'
        - name: eudi-app-ios-wallet-ui
          import_url: 'https://github.com/eu-digital-identity-wallet/eudi-app-ios-wallet-ui?multi_docs=True&branch=main'
          imports:
            - '**/*.md'
            - '**/*.png'
        - name: eudi-srv-web-issuing-eudiw-py
          import_url: 'https://github.com/eu-digital-identity-wallet/eudi-srv-web-issuing-eudiw-py?multi_docs=True&branch=main'
          imports:
            - '**/*.md'
            - '**/*.png'
        - name: eudi-web-verifier
          import_url: 'https://github.com/eu-digital-identity-wallet/eudi-web-verifier?multi_docs=True&branch=main'
          imports:
            - '**/*.md'
            - '**/*.png'

nav:

  - Home: index.md
#  - Getting Started:
#      - Introduction: Getting Started.md
#      - Build Wallet: Build Wallet.md
#      - Build Issuer: Build Issuer.md
#      - Build Verifier: Build Verifier.md
#      - Demos:
#           - Introduction: Demos.md
#           - Travel Scenario: Travel Scenario.md
  - Resources:
      - Resources: Resources/index.md
      - Regulation: Resources/Regulation.md
      - Architecture and Reference Framework: Resources/Architecture and Reference Implementation.md
      - Standards: Resources/Standards.md
      - Large-Scale Pilots: Resources/Large-Scale Pilots.md
  - Reference Implementation: 
      - Reference Implementation: Reference Implementation/index.md
      - Code Contributions: Reference Implementation/Code Contributions.md
      - Code of Conduct: Reference Implementation/Code of Conduct.md
      - Licensing: Reference Implementation/Licensing.md
      - Disclaimer: Reference Implementation/Disclaimer.md
      - Demos:
           - Demos: Reference Implementation/Demos/index.md
           - Travel Scenario: Reference Implementation/Demos/Travel Scenario.md
  - Build:
      - Build: Build/index.md
      - Build your Wallet:
          - Build your Wallet: Build/Build your Wallet/index.md
          - Android:
              - Wallet Application Level:
                  - Build the App: Build/Build your Wallet/Android/Wallet Application Level/index.md
                  - Run with Remote Services: Build/Build your Wallet/Android/Wallet Application Level/Running with Remote Services.md
                  - Run with Local Services: Build/Build your Wallet/Android/Wallet Application Level/Running with Local Services.md
                  - Self-signed Certificates: Build/Build your Wallet/Android/Wallet Application Level/Self-signed Certificates.md
              - Library Level:
                  - Library Level: Build/Build your Wallet/Android/Library Level/index.md
                  - Build the Core: Build/Build your Wallet/Android/Library Level/Build the Core.md
                  - Manage Documents: Build/Build your Wallet/Android/Library Level/Manage Documents.md
          - iOS:
              - Wallet Application Level:
                  - Build the App: Build/Build your Wallet/iOS/Wallet Application Level/index.md
                  - Run with Remote Services: Build/Build your Wallet/iOS/Wallet Application Level/Running with Remote Services.md
                  - Run with Local Services: Build/Build your Wallet/iOS/Wallet Application Level/Running with Local Services.md
                  - Self-signed Certificates: Build/Build your Wallet/iOS/Wallet Application Level/Self-signed Certificates.md
              - Library Level:
                  - Library Level: Build/Build your Wallet/iOS/Library Level/index.md
                  - Build the Kit: Build/Build your Wallet/iOS/Library Level/Build the Kit.md
                  - Manage Documents: Build/Build your Wallet/iOS/Library Level/Manage Documents.md
      - Build your Issuer:
          - Build your Issuer: Build/Build your Issuer/index.md
          - Steps to Build: Build/Build your Issuer/Steps to Build.md
          - Configure your Issuer: Build/Build your Issuer/Configure.md
          - Add Attestations: Build/Build your Issuer/New Attestation.md
      - Build your Verifier:
          - Build your Verifier: Build/Build your Verifier/index.md
          - Steps to Build: Build/Build your Verifier/Steps to Build.md
          - Configure your Verifier: Build/Build your Verifier/Configure.md 

  - Test:
      - Test: Test/index.md
      - Wallet Application:
          - Wallet Application: Test/Wallet Application/index.md
          - Android: Test/Wallet Application/Android.md
#              - Issue (Wallet Initiated): Test/Wallet Application/Android/Issue (Wallet Initiated).md
#              - Issue (Credential Offer): Test/Wallet Application/Android/Issue (Credential Offer).md
#              - Present (Same Device): Test/Wallet Application/Android/Present (Same Device).md
#              - Present (Proximity): Test/Wallet Application/Android/Present (Proximity).md
          - iOS: Test/Wallet Application/iOS.md
#              - Issue (Wallet Initiated): Test/Wallet Application/iOS/Issue (Wallet Initiated).md
#              - Issue (Credential Offer): Test/Wallet Application/iOS/Issue (Credential Offer).md
#              - Present (Same Device): Test/Wallet Application/iOS/Present (Same Device).md
#              - Present (Proximity): Test/Wallet Application/iOS/Present (Proximity).md
      - Issuer: Test/Issuer.md
      - Online Verifier: Test/Online Verifier.md
      - Proximity Verifier: Test/Proximity Verifier.md
